@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #2d3250;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}